


# the datafiles, compressed and uncompressed
*.xml
*.7z

notes/
Icon*
.DS_Store

*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
resources/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet